---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {% include head-custom.html %}
</head>
<body>
  <header class="page-header" role="banner">
    <h1 class="project-name">
      <a href="{{ "/" | relative_url }}" style="color:inherit;text-decoration:none;">{{ site.title }}</a>
    </h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <a href="{{ "/tags" | relative_url }}" class="btn">Tags</a>
    <a href="{{ "/suche" | relative_url }}" class="btn">Search</a>
    <a href="{{ "/ueber-mich" | relative_url }}" class="btn">About</a>
    <a href="{{ "/feed.xml" | relative_url }}" class="btn">RSS</a>
  </header>
  <main id="content" class="main-content" role="main">
    {{ content }}
  </main>
  {% include footer.html %}
  {% include head-custom.html %}
</body>
</html>
